body{
    padding: 0;
    margin: 0;
    font-family: "Lilita One";
    overflow: hidden;

}
.premium{
    width: auto;
    background-color: rgb(76, 76, 76);
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}
.top{
    width: 100%;
    background-color: black;
    height: 7vh;
    display: flex;
}
.main{
    width: 100%;
    height: 84vh;
    display: flex;
}
.library{
    width: 25%;
    background-color: red;
}
.playlist{
    width: 50%;
    background-color: cyan;
}
.featured{
    width: 25%;
    background-color: rgb(58, 58, 61);
}
.player{
    width: 100%;
    height: 9vh;
    background-color: rgb(54, 51, 54);
    position: static;
    display: flex;
}
.navigate{
    width: 25%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.search{
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: auto;
}
.profile{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
a{
    font-size: 1.9rem;
    color: rgb(175, 175, 175);
    align-items: center;
    text-decoration: none;
    justify-content: center;
}
.navlib{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.libcontent{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 81vh;
    z-index: -1;
    scrollbar-width: none;
    background-color: black;
}
.userplaylist{
    width: 100%;
    padding: 15px;
}
.profileuser{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 30%;
}
.playlistbanner{
    padding: 30px;
    background-color: black;
    height: 20vh;
}
.playlistsong{
    background-color: black;
    height: 57.6vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
    width: 100%;
    justify-content: center;
    align-items: center;
    scrollbar-width: none;
    margin: auto;
}
.songlist{
    padding: 10px;
}
.video{
    width: 95%;
    margin: 2.5%;
    height: 50vh;
    border-radius: 18px;
    background-color: black;
}
.about{
    margin: 14px;
}
.nextinqueue{
    margin: 14px;
}
.playersong{
    width: 25%;
    display: flex;
}
.songinfo{
    padding-top: 2vw;
}
.playercontrol{
    width: 50%;
}
.playerview{
    width: 25%;
}
.songadd{
    padding-top: 2vw;
    padding-left: 2vw;
}
.controls{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 16vw;
    padding-right: 16vw;
    padding-top: 0.25vw;
}
.range{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.25vh;
}
.viewcontrols{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}